.contact .contact_heading {
    display: flex;
    justify-content: center;
    color: rgb(18, 185, 182);
    font-size: 23px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact .contact_heading span{
    color: black;
}
.contact_form{
    background-color: rgb(126, 216, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forminput{
    margin: 10px;
}
.forminput input{
    width: 365px;
    padding: 13px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
    border-width: 2px;
    border-radius: 8px;
}
.forminput textarea{
    width: 380px;
    padding: 7px;
    margin-bottom: 10px;
    border-color: black;
    border-width: 2px;
    border-radius: 8px;
}
.forminput .submitbtn{
    width: 80px;
    height: 40px;
    color: black;
    background-color: goldenrod;
    font-weight: bold;
    font-size: large;
    border-radius: 7px;
}
.forminput .submitbtn:hover{
    background-color: gold;
}

@media (max-width: 600px){
    .contact .contact_heading {
        display: flex;
        justify-content: center;
        font-size: 15px;
    }
    .contact_form{
        background-color: rgb(126, 216, 239);
        margin: -5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .forminput input{
        width: 270px;
        padding: 13px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-color: black;
        border-width: 2px;
        border-radius: 8px;
    }
    .forminput textarea{
        width: 270px;
        padding: 7px;
        margin-bottom: 10px;
        border-color: black;
        border-width: 2px;
        border-radius: 8px;
    }
}