/*___________________________________________________navbar section____________________________________________________________*/
#nav {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
  background-color: rgb(18, 185, 182);

/* navbar positon */
  position: sticky;
  top: 0;
  z-index: 1;
}

/*___________________________________________________ navbar logo and app name in desktop_______________________________________________ */
#navbar_brand
{
  color:white;
}
#navbar_brand:hover
{
  color: black;
  text-decoration: none;
}
/* app logo  */
#app_logo{
  width: 38px;
  height: 40px;
}

/* app name  */
#app_name:hover {
  color: black;
}
/*___________________________________________________ nav menu in desktop _______________________________________________ */
.nav-item {
  color: white;
}
.nav-item:hover {
  text-decoration: none;
  color: black;
}
.nav-item:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: black;
  position: absolute;
  bottom: -3px;
  left: 20px;
}
/* active state in nav menu */
.nav-item.active {
  color: black;
  }
/*___________________________________________________ Nav login , profile section _______________________________________________ */
/* login btn */
#navLoginBtn{
  color: rgb(18, 185, 182);
  text-decoration: none;
  font-weight: bold;
}
/* nav profile avatar  */
#navProfileAvatar{
  color: rgb(18, 185, 182);
  background-color: white;
}